{% extends 'base.html' %} {% block content %}
  <main class="container py-s mt-5">
    <section class="card card-body">
      <h1 class="display-1 text-center">Django App</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem, ipsa inventore. Vel, aperiam odit inventore ut modi vitae odio veniam cupiditate, sequi quo nulla sint temporibus delectus cum, doloremque esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, labore quasi? Aliquid, recusandae tempora explicabo laudantium aspernatur cum modi consequatur perspiciatis laboriosam sequi deserunt voluptate quasi vero placeat quo dicta?</p>
      <div class="text-center">
        <a class="btn btn-secondary" href="/signin">Signin</a>
        <a class="btn btn-dark" href="/signup">Signup</a>
      </div>
    </section>
  </main>
{% endblock %}
